# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Screenshots/shots
.DS_Store

ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset
ravenwallet/Config.plist
ravenwallet/OnetimeWipeViewController.swift
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/*.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon87x87.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon80x80.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon80x80-1.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon76x76.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon60x60.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon58x58.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon58x58-1.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon40x40.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon40x40-2.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon40x40-1.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon29x29.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon29x29-1.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon20x20.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon180x180.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon167x167.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon152x152.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon120x120.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon120x120-1.png
ravenwallet/Icon.xcassets/AppIcon-Internal.appiconset/icon1024x1024.png
